 
 <h1>Attribute, class, and style bindings</h1>
 <h2>Attribute binding</h2>
 <table border=1>
    <!--  expression calculates colspan=2 -->
    <tr><td [attr.colspan]="1 + 1">One-Two</td></tr>

    <!-- ERROR: There is no `colspan` property to set! 
       <tr><td colaspan="{{1 + 1}}">Three-Four</td></tr>
    --> 
    <!-- colspan 프로퍼티는 캐멀 케이스입니다. -->
    <tr><td [colSpan]="1 + 1">Three-Four</td></tr>

    <tr><td>Five</td><td>Six</td></tr>
 </table>

 <div>
     <!-- 웹 접근성 향상을 위해 ARIA 어트리뷰트를 지정할 수 있습니다. -->
     <button [attr.aria-label]="actionName">{{actionName}} with Aria</button>
 </div>

 <hr />

 <h2>Styling precedence</h2>

 <h3>기본 순서</h3>

 <!-- `class.special`이 `class` 보다 우선순위가 높습니다. -->
 <div [class.special]="isSpecial" [class]="calssExpr">Some text.</div>

 <h3>소스별 우선순위</h3>